
x64/Debug/MRTtemp.tlog/CL.write.1.tlog
x64/Debug/MRTtemp.tlog/link.command.1.tlog
x64/Debug/MRTtemp.tlog/link.read.1.tlog
x64/Debug/MRTtemp.tlog/link.write.1.tlog
x64/Debug/MRTtemp.tlog/MRTtemp.lastbuildstate
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/FirstTemp.log
Debug/FirstTemp.exe.recipe
Debug/FirstTemp.log
Debug/FirstTemp.pdb
Debug/FirstTemp.tlog/CL.command.1.tlog
Debug/FirstTemp.tlog/CL.read.1.tlog
Debug/FirstTemp.tlog/CL.write.1.tlog
Debug/FirstTemp.tlog/FirstTemp.lastbuildstate
Debug/FirstTemp.tlog/link.6620.read.1.tlog
Debug/FirstTemp.tlog/link.6620.write.1.tlog
Debug/FirstTemp.tlog/link.command.1.tlog
Debug/FirstTemp.tlog/link.read.1.tlog
Debug/FirstTemp.tlog/link.write.1.tlog
Debug/FirstTemp.tlog/unsuccessfulbuild
Debug/FirstTemp.vcxproj.FileListAbsolute.txt
Debug/Main.obj
Debug/vc142.idb
Debug/vc142.pdb
.vs/MyCodeFrame/v16/Browse.VC.opendb
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/MyCodeFrame/v16/Browse.VC.db-wal
.vs/MyCodeFrame/v16/Browse.VC.db-shm
.vs/MyCodeFrame/v16/Browse.VC.db
.vs/MRTtemp/v16/ipch/AutoPCH/653c5b4ef490b32/MAIN.ipch
.vs/MRTtemp/v16/Browse.VC.db
.vs/MRTtemp/v16/.suo
.vs/GICodeFrame/v16/ipch/AutoPCH/47554573cd8060b8/MAIN.ipch
.vs/GICodeFrame/v16/Browse.VC.db
.vs/GICodeFrame/v16/.suo
.vs/CodeFrame/config/applicationhost.config
.vs/CodeFrame/v16/.suo
.vs/CodeFrame/v16/Browse.VC.db
.vs/CodeFrame/v16/Browse.VC.db-shm
.vs/CodeFrame/v16/Browse.VC.db-wal
.vs/CodeFrame/v16/Browse.VC.opendb
.vs/CodeFrame/v16/ipch/AutoPCH/653c5b4ef490b32/MAIN.ipch
.vs/CodeFrame/v16/ipch/AutoPCH/dbe2d5e36067d87e/COMMON.ipch
.vs/MyCodeFrame/v16/.suo
.vs/VSWorkspaceState.json
ClassDiagram.cd
x64/Debug/Camera.obj
x64/Debug/common.obj
x64/Debug/CopyTemp.obj
x64/Debug/FirstTemp.log
x64/Debug/FirstTemp.vcxproj.FileListAbsolute.txt
x64/Debug/Main.obj
x64/Debug/MRTtemp.exe.recipe
x64/Debug/MRTtemp.tlog/CL.command.1.tlog
x64/Debug/MRTtemp.tlog/CL.read.1.tlog
x64/Debug/myCodeFrame.Build.CppClean.log
x64/Debug/myCodeFrame.exe
x64/Debug/myCodeFrame.exe.recipe
x64/Debug/myCodeFrame.ilk
x64/Debug/myCodeFrame.pdb
x64/Debug/myCodeFrame.tlog/CL.command.1.tlog
x64/Debug/myCodeFrame.tlog/CL.read.1.tlog
x64/Debug/myCodeFrame.tlog/CL.write.1.tlog
x64/Debug/myCodeFrame.tlog/link.command.1.tlog
x64/Debug/myCodeFrame.tlog/link.read.1.tlog
x64/Debug/myCodeFrame.tlog/link.write.1.tlog
x64/Debug/myCodeFrame.tlog/myCodeFrame.lastbuildstate
